@charset "utf-8";

$front_net_path: '/front_net/' !default;

// MIXIN -------------------------
@mixin clearfix {*zoom: 1;
  &:before, &:after {display: table;content: "";}
  &:after {clear: both;}
}
@mixin none_sty{list-style: none;padding:0;margin:0;background:none;float:none;width:auto;height:auto;position:static;display:inline;line-height:auto;}
@mixin in_bk {display:inline-block;zoom:1;*display:inline;position:relative;}
@mixin ellipsis{overflow: hidden; white-space: nowrap; width: 360px; text-overflow:ellipsis;}
@mixin onelineh($size) {line-height:$size;height:$size;}

// Bootstrap Var -------------------------
$iconSpritePath:          $front_net_path + "bootstrap/img/glyphicons-halflings.png";
$iconWhiteSpritePath:     $front_net_path + "bootstrap/img/glyphicons-halflings-white.png";
$iconRedSpritePath:       $front_net_path + "bootstrap/img/glyphicons-halflings-red.png";

$textColor:        #111 !default;
$linkColor:        #4D5731 !default;
$linkColorHover:   #B82E39 !default;

$bodyBackground: #FFF !default;
$sansFontFamily:        "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serifFontFamily:       "黑体", Georgia, "Times New Roman", Times, serif !default;
$baseFontFamily:        $sansFontFamily !default;
$baseFontSize:  12px !default;
$baseLineHeight:  1.5 !default;
$baseLineHeightPx:      $baseFontSize*$baseLineHeight;

// Grays
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;
// Accent colors
$blue:                  #049cdb !default;
$blueDark:              #0064cd !default;
$green:                 #46a546 !default;
$red:                   #9d261d !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;
// Z-index master list
$zindexDropdown:          1000;
$zindexPopover:           1010;
$zindexTooltip:           1020;
$zindexFixedNavbar:       1030;
$zindexModalBackdrop:     1040;
$zindexModal:             1050;