/*#region bankol*/
.bankol {width: 772px;padding: 0 20px;
	li {float: left;padding: 10px 0; 
		.bank {background-image: url(/images/open/bank.png);width: 120px;height: 28px;display: inline-block;zoom: 1;*display: inline;position: relative;cursor: pointer; }
	}
	.ABC {BACKGROUND-POSITION: -5PX -6PX; }
	.CCB {BACKGROUND-POSITION: -5PX -46PX; }
	.CEB {BACKGROUND-POSITION: -5PX -86PX; }
	.CEB2 {BACKGROUND-POSITION: -5PX -86PX; }
	.CMBC {BACKGROUND-POSITION: -5PX -126PX; }
	.COMM {BACKGROUND-POSITION: -5PX -166PX; }
	.GDB {BACKGROUND-POSITION: -5PX -206PX; }
	.CITIC {BACKGROUND-POSITION: -5PX -246PX; }
	.SDB {BACKGROUND-POSITION: -5PX -286PX; }
	.SPDB {BACKGROUND-POSITION: -5PX -326PX; }
	.ICBC {BACKGROUND-POSITION: -5PX -366PX; }
	.CMB {BACKGROUND-POSITION: -5PX -406PX; }
	.CIB {BACKGROUND-POSITION: -5PX -446PX; }
	.POSTGC {BACKGROUND-POSITION: -5PX -486PX; }
	.PSBC {BACKGROUND-POSITION: -5PX -486PX; }
	.ICBCPUB {BACKGROUND-POSITION: -5PX -531PX; }
	.ICBCPER {BACKGROUND-POSITION: -5PX -576PX; }
	.SPDBPUB {BACKGROUND-POSITION: -5PX -621PX; }
	.SPDBPER {BACKGROUND-POSITION: -5PX -661PX; }
	.VISA {BACKGROUND-POSITION: -5PX -696PX; }
	.ABC-VISA {BACKGROUND-POSITION: -5PX -696PX; }
	.ABCPER {BACKGROUND-POSITION: -5PX -741PX; }
	.ABCPUB {BACKGROUND-POSITION: -5PX -780PX; }
	.BOCB2C {BACKGROUND-POSITION: -5PX -820PX; }
	.BOC {BACKGROUND-POSITION: -5PX -820PX; }
	.BOCCCL {BACKGROUND-POSITION: -5PX -820PX; }
	.BJRCBB2C {BACKGROUND-POSITION: -5PX -895PX; }
	.BJRCB {BACKGROUND-POSITION: -5PX -895PX; }
	.HZCBB2C {BACKGROUND-POSITION: -5PX -862PX; }
	.HZCB {BACKGROUND-POSITION: -5PX -862PX; }
	.SHBANK {BACKGROUND-POSITION: -5PX -926PX; }
	.NBBANK {BACKGROUND-POSITION: -5PX -962PX; }
	.PABC {BACKGROUND-POSITION: -5PX -1000PX; }
}
/*endregion bankol */