<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CssGaga.Properties.Settings.SQLiteConnectionString"
        connectionString="data source=|DataDirectory|\db.sqlite" providerName="System.Data.SQLite" />
  </connectionStrings>
  <appSettings>
    <add key="sliceCode" value=".%filename%{$}" />
    <add key="pathDest1Name" value="当前路径" />
    <add key="pathDest2Name" value="__build" />
    <add key="pathDest3Name" value="zic-css/__build" />
    <add key="chkToJpg" value="0" />
    <add key="chkSprite" value="0" />
    <add key="chkDest1" value="0" />
    <add key="chkDataURI" value="0" />
    <add key="chkDest3" value="0" />
    <add key="pathDest1" value="../../" />
    <add key="pathReport1" value="" />
    <add key="pathDest2" value="../../__build" />
    <add key="pathReport2" value="" />
    <add key="chkDest2" value="1" />
    <add key="pathDest3" value="../../zic-css/__build" />
    <add key="pathReport3" value="" />
    <add key="pathDest4" value="" />
    <add key="pathReport4" value="" />
    <add key="pathDest5" value="" />
    <add key="pathReport5" value="" />
    <add key="pathDest6" value="" />
    <add key="pathReport6" value="" />
    <add key="pathDest7" value="" />
    <add key="pathReport7" value="" />
    <add key="chkBreakLine" value="1" />
    <add key="chkJpgHd" value="1" />
    <add key="webSiteUrl" value="http://172.16.89.11:32998/css" />
    <add key="pathReport" value="" />
    <add key="pathSource" value="../../" />
  </appSettings>
</configuration>