@charset "utf-8";

div.popup{box-shadow: none;border:none 0;
    div.d-inner{border:none 0;}
    div.d-titleBar{width:0; height:0; visibility:hidden; border:none 0;}
    div.d-content{padding:0!important;}
}