@charset "utf-8";

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {color: $red;}
.field-validation-valid {display: none;}
.input-validation-error {border: 1px solid darken($red, 15);background-color: #ffeeee;}
.validation-summary-valid {display: none;}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {margin: 1em 0 0 0;}
.display-field, 
.editor-field {margin: 0.5em 0 0 0;}
.text-box {width: 30em;}
.text-box.multi-line {height: 6.5em;}
.tri-state {width: 6em;}

table.mctable td,table.mctable th{padding:8px;}
.pager table td,.pager table th{padding:0 8px;}
a{cursor:pointer;}
a:hover{text-decoration:underline;}