#wmd-editor{background-color: Aquamarine;}
#wmd-button-bar {width: 100%;}
#wmd-input {height: 400px;width: 580px;} /* to 1200 page*/
#wmd-preview{width: 580px;}
#wmd-output {background-color: Pink;}
#wmd-button-row {position: relative; margin: 5px 0;padding: 0px;  height: 20px;}
.wmd-button{width: 20px; height: 20px;margin-right: 5px;position: absolute;display: inline-block;
	background: url(#{$front_net_path}module/wmd/wmd-buttons.png) no-repeat scroll 0 0;
}
#wmd-button-bar{
	#wmd-bold-button    {left: 0px;   background-position: 0px 0;}
	#wmd-italic-button  {left: 25px;  background-position: -20px 0;}
	#wmd-link-button    {left: 50px;  background-position: -40px 0;}
	#wmd-quote-button   {left: 75px;  background-position: -60px 0;}
	#wmd-code-button    {left: 100px;  background-position: -80px 0;}
	#wmd-image-button   {left: 125px;  background-position: -100px 0;}
	#wmd-olist-button   {left: 150px;  background-position: -120px 0;}
	#wmd-ulist-button   {left: 175px; background-position: -140px 0;}
	#wmd-heading-button {left: 200px; background-position: -160px 0;}
	#wmd-hr-button      {left: 225px; background-position: -180px 0;}
	#wmd-undo-button    {left: 250px; background-position: -200px 0;}
	#wmd-redo-button    {left: 275px; background-position: -220px 0;}
	#wmd-help-button    {right: 0px; background-position: -240px 0;}
}
.wmd-prompt-background{background-color: Black;}
.wmd-prompt-dialog{border: 1px solid #999999;background-color: #F5F5F5;
	div {font-size: 0.8em;font-family: arial, helvetica, sans-serif;}
	form > input[type="text"] {border: 1px solid #999999;color: black;}
	form > input[type="button"]{border: 1px solid #888888;font-family: trebuchet MS, helvetica, sans-serif;font-size: 0.8em;font-weight: bold;}
}